.gameBoardPage {
    height: 60vw;
    padding: 20px;
    color: white;
    position: relative;
    text-align: center;

}


.questionFirst {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    height: 20%;
    width: 100%;

}

.questionFirst i {
    font-size: 60px;
    /** font-weight: 600; **/
}

.questionFirst h1 {
    font-weight: 300;
}

.difficultyLevel {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    width: 100%;
    margin-top: 10px;
    height: 30%;
    padding: 20px;
}
.difficultyLevel div {
  
    border-radius: 3%;
    border: 2px solid #ffffff;
    text-align: center;
    padding: 10px;
   
}

.difficultyLevel div h3 {
    font-size: 40px;
    font-weight: 300;
}

.inconLevel {
  font-size: 60px;
}

.touchIcon {
   width: 100%;
   text-align: center;
   height: 20%;
   margin-top: 20px;
}

.touchIcon i {
    font-size: 100px;
}
.touchIcon i:hover, .difficultyLevel div:hover, .here div:hover  {
    opacity: 0.5;
}

.touchIcon h3 {
    font-weight: 300;
}

.here {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 8%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white

}

.here div {
    border: 1px solid #ffffff;
    width: 10%;
    height: 100%;
    border-radius: 5%;
    text-align: center;
    padding-top: 2px;
    cursor: pointer;
}
.here div i {
    font-size: 20px;
}
.linkp {
    list-style: none;
    outline: none;
    color: white;
    text-decoration: none;
}